target/
.DS_Store
.idea/
.vscode/
*.iml
node_modules/
dist/
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
all/.classpath
all/.settings/org.eclipse.core.resources.prefs
all/.settings/org.eclipse.jdt.core.prefs
all/.settings/org.eclipse.m2e.core.prefs
core/.classpath
core/.settings/org.eclipse.core.resources.prefs
core/.settings/org.eclipse.jdt.core.prefs
core/.settings/org.eclipse.m2e.core.prefs
core/.settings/org.eclipse.pde.core.prefs
dispatcher/.settings/org.eclipse.core.resources.prefs
dispatcher/.settings/org.eclipse.m2e.core.prefs
it.tests/.classpath
it.tests/.settings/org.eclipse.core.resources.prefs
it.tests/.settings/org.eclipse.jdt.core.prefs
it.tests/.settings/org.eclipse.m2e.core.prefs
ui.apps/.classpath
ui.apps.structure/.classpath
ui.apps.structure/.settings/org.eclipse.core.resources.prefs
ui.apps.structure/.settings/org.eclipse.jdt.core.prefs
ui.apps.structure/.settings/org.eclipse.m2e.core.prefs
ui.apps/.settings/org.eclipse.core.resources.prefs
ui.apps/.settings/org.eclipse.jdt.core.prefs
ui.apps/.settings/org.eclipse.m2e.core.prefs
ui.config/.classpath
ui.config/.settings/org.eclipse.core.resources.prefs
ui.config/.settings/org.eclipse.jdt.core.prefs
ui.config/.settings/org.eclipse.m2e.core.prefs
ui.content/.classpath
ui.content/.settings/org.eclipse.core.resources.prefs
ui.content/.settings/org.eclipse.jdt.core.prefs
ui.content/.settings/org.eclipse.m2e.core.prefs
ui.frontend/.settings/org.eclipse.core.resources.prefs
ui.frontend/.settings/org.eclipse.m2e.core.prefs
ui.tests/.classpath
ui.tests/.settings/org.eclipse.core.resources.prefs
ui.tests/.settings/org.eclipse.jdt.core.prefs
ui.tests/.settings/org.eclipse.m2e.core.prefs
